body {
  font-family: "Poppins";
}
.navbar .brand-name {
  font-size: 24px;
  font-weight: 600;
  color: #493964;
}

.navbar .right-side-navbar {
  color: #493964;
  display: flex;
  width: 120px;
}

.form {
  margin-top: 274px;
  margin-bottom: 459px;
}
.form .search-form {
  margin: auto;
  width: 760px;
  background: #f1f1f1;
}
.form .inner-form-elements {
  background: #ffffff;
}
.form-element .fa-solid {
  color: #884aff;
  font-size: 20px;
}
.form-element .form-text-custom p {
  color: rgba(81, 77, 89, 0.8);
  font-size: 16px;
  font-weight: 500;
}
.form-element .form-text-custom .text {
  font-size: 24px;
  font-weight: 500;
}
.form-element {
}

.form-element.search-icon {
  background: #884aff;
  min-width: 31px;
  padding: 13px;
  border-radius: 9px;
}
.form-element.search-icon i {
  color: #ffffff;
}

.hero-image {
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -2;
}
.airplane-header {
  top: -272px;
  left: -30px;
}
.rectangle-header {
  top: -65px;
  left: -280px;
}
.direction-header {
  top: -226px;
  right: -148px;
  z-index: -1;
}
.binocular-header {
  top: 80px;
  left: -46px;
  z-index: -1;
}
.cup-header {
  top: 90px;
  left: 690px;
}
.ballon-header {
  top: -169px;
  left: 890px;
}
.goods .header {
  font-size: 70px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 65px;
  text-align: center;
}
.goods .row h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}
.features h1 {
  font-size: 50px;
  font-weight: 600;
  color: #514d59;
}
.features {
  color: #514d59;
}
.features a {
  text-decoration: none;
  color: #7000ff;
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .form .search-form {
    width: 400px;
  }
  .form {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .goods .header {
    font-size: 42px;
  }
  .features h1 {
    font-size: 42px;
  }
}
