body {
  font-family: "Poppins";
}
.navbar .brand-name {
  font-size: 24px;
  font-weight: 600;
  color: #493964;
}

.navbar .right-side-navbar {
  color: #493964;
  display: flex;
  width: 120px;
}

.form {
  margin-top: 154px;
}
.form .search-form {
  margin: auto;
  width: 760px;
  background: #f1f1f1;
}
.form .inner-form-elements {
  background: #ffffff;
}
.form-element .fa-solid {
  color: #884aff;
  font-size: 20px;
}
.form-element .form-text-custom p {
  color: rgba(81, 77, 89, 0.8);
  font-size: 16px;
  font-weight: 500;
}
.form-element .form-text-custom .text {
  font-size: 24px;
  font-weight: 500;
}
.form-element {
}

.form-element.search-icon {
  background: #884aff;
  min-width: 31px;
  padding: 13px;
  border-radius: 9px;
}
.form-element.search-icon i {
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .form .search-form {
    width: 400px;
  }
}
